@charset 'utf-8';

.logo{
    padding:20px 0;
    float:center;
}
.nav{
    text-align:right;
}

.nav>ul>li{
    display:inline-block;
    font-size:17px;
    font-weight:bold;
    margin:0 25px;
}

.nav>ul>li>a{
    text-decoration:none;
}

.nav>ul>li>a:hover{
    color:#EC6611
}
